<div class="bg-gray-200 p-12 pt-24 flex flex-col gap-4 min-h-screen">
    <div class="flex justify-between items-center pb-4 border-gray-300">
        <h1 class="text-3xl font-bold">Gestão de Empresas</h1>
        <app-button-options></app-button-options>

    </div>
    <div class="flex flex-wrap gap-4 items-end">
        <app-text-empresa></app-text-empresa>
        <app-text-empresa></app-text-empresa>
        <app-text-empresa></app-text-empresa>

        <div class="flex justify-end gap-4 ml-auto">
            <app-button-pesquisar></app-button-pesquisar>
            <app-button-limpar></app-button-limpar>
        </div>
    </div>

    <div>
        <app-empresa-table></app-empresa-table>
    </div>
</div>