<div class="view-container">
    <div class="tittle-container">
        <h1 class="tittle-style">Gestão de Empresas</h1>
        <app-button-options></app-button-options>
    </div>
    <div class="view">
        <div class="form-container">
            <div class="input-container">
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
                <app-text-empresa></app-text-empresa>
            </div>
            <div class="button-container">
                <app-button-pesquisar></app-button-pesquisar>
                <app-button-limpar></app-button-limpar>
            </div>
        </div>
        <div>
            <app-empresa-table></app-empresa-table>
        </div>
    </div>
</div>