@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;
@include mat.core();
$angular_base-primary: mat.define-palette(mat.$indigo-palette);
$angular_base-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular_base-warn: mat.define-palette(mat.$red-palette);
$angular_base-theme: mat.define-light-theme((color: (primary: $angular_base-primary,
        accent: $angular_base-accent,
        warn: $angular_base-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));
@include mat.all-component-themes($angular_base-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
  .btn-search {
    @apply font-semibold px-4 py-2 rounded-md shadow-md mb-8;
  }

  .view-container {
    @apply bg-gray-200 p-12 pt-16 flex flex-col gap-4 min-h-screen;
  }

  .view {
    @apply bg-white p-6 rounded-lg shadow-md border border-gray-200;
  }

  .tittle-style {
    @apply text-3xl font-bold;
  }

  .tittle-container {
    @apply flex justify-between items-center pb-4 border-gray-300;
  }

  .input-container {
    @apply flex flex-wrap gap-4 items-end;
  }

  .button-container {
    @apply flex justify-end gap-4 ml-auto;
  }
}